* {
	border: 0px;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

.about_good {
	background: #ffffff;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about_good h1 {
	color: black;
}

.about_good p {
	color: black;
}

.about_good_inf_block {
	margin: 0 auto;
}

.about_us {
	background: #ffffff;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about_us h1 {
	color: black;
}

.about_us p {
	color: black;
}

.about_us_inf_block {
	margin: 0 auto;
}

.contacts {
	background: #ffffff;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts h1 {
	color: black;
}

.contacts p {
	color: black;
}

.contacts_inf_block {
	margin: 0 auto;
}

.inf_block_wrapper {
	width: 75%;
}

.logo {
	left: 0;
	position: absolute;
	top: 0;
	width: 200px;
}

.logo img {
	height: auto;
	width: 100%;
}

.main {
	background: #ffffff;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main h1 {
	color: black;
	font-size: 90;
}

.main p {
	color: black;
	font-size: 45;
}

.main_inf_block {
	margin: 25vh auto 35vh auto;
}

body {
	font-family: Arial;
	line-height: 1;
}

h1 {
	font-size: 25;
	text-align: center;
}

html, body {
	height: 100%;
	width: 100%;
}

p {
	font-size: 12;
	text-align: center;
}

section {
	height: auto;
	min-height: 20vh;
	overflow: hidden;
	position: relative;
}

