* {
	border: 0px;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

.about_good {
	background: #accb98;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about_good h1 {
	color: #111111;
}

.about_good p {
	color: #252525;
}

.about_good_inf_block {
	margin: 15vh auto 35vh auto;
}

.about_us {
	background: #7c118105;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about_us h1 {
	color: #111111;
}

.about_us p {
	color: #252525;
}

.about_us_inf_block {
	margin: 15vh auto 35vh auto;
}

.contacts {
	background: #7f8571;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts h1 {
	color: #111111;
}

.contacts p {
	color: #252525;
}

.contacts_inf_block {
	margin: 15vh auto 35vh auto;
}

.inf_block_wrapper {
	width: 75%;
}

.inf_block_wrapper h2 {
	margin-bottom: 15vh;
}

.logo {
	left: 0;
	position: absolute;
	top: 0;
	width: 200px;
}

.logo img {
	height: auto;
	width: 100%;
}

.main {
	background: url(https://image.shutterstock.com/display_pic_with_logo/3016328/406413574/stock-photo-business-desk-concept-marketing-strategy-406413574.jpg);
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main h1 {
	color: #111111;
	font-size: 120;
}

.main p {
	color: #252525;
	font-size: 48;
}

.main_inf_block {
	margin: 25vh auto 35vh auto;
}

.sepheader {
	padding: 150px;
}

.subheader {
	background: #ffffff;
}

body {
	font-family: Arial;
	line-height: 1;
}

h1, h2 {
	font-size: 48;
	text-align: center;
}

html, body {
	height: 100%;
	width: 100%;
}

img {
	border-radius: 70px;
	margin-left: calc(100% / 5);
	margin-top: 5vh;
	width: 60%;
}

p {
	font-size: 20;
	text-align: center;
}

section {
	height: auto;
	min-height: 20vh;
	overflow: hidden;
	position: relative;
}

