textarea {
	height: 90%;
	width: 100%;
	display: block;
}

.features-form {
	width: 40%;
	float: left;
	margin-right: 15px;
}

form {
	width: 50%;
	display: block;
	float: left;
}

.content textarea {
	height: 100px;
	width: 500px;
}

.content p {
	margin: 10px 0px 0px 10px;
	font-size: 15px;
	clear: both;
}

.content h1 {
	font-size: 25px;
	font-weight: normal;
	padding-left: 20px;
	margin: 20px 0;
}

.content input {
	display: block;
}

.content label {
	float: left;
	margin: 0 20px;
}

.content .button {
	background: red;
	border: 0px;
	margin-left: 15px;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: background 1s;
	transition: background 1s;
	color: floralwhite;
}

.content .button:hover {
	background: #bf0000;
}

.content .p {
	padding-top: 15px;
	padding-bottom: 15px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

button[type="submit"] {
	width: 200px;
	height: 40px;
	margin: 20px 20px 20px 15px;
	background: green;
	color: floralwhite;
	-webkit-transition: background 1s;
	transition: background 1s;
	cursor: pointer;
	border: 0px;
}

button[type="submit"]:hover {
	background: #006c00;
}

.features-inf {
	padding-top: 15px;
}

.pages-list {
	float: left;
}

.page-label {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	padding: 5px;
	pointer-events: none;
}

.choosen-pages {
	position: absolute;
	top: 0;
	right: 0;
}

.choosen-pages > li {
	list-style: none;
}

.choosen-pages > li > p {
	margin: 0;
}

.checkbox-wrapper {
	position: relative;
	width: 100px;
	height: 25px;
}

input[type=checkbox] {
	-webkit-appearance: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	display: block;
	background-color: antiquewhite;
}

input[type=checkbox]:checked {
	background-color: coral;
}