{% extends 'main/base.html' %}

{% block content %}
	<form method="POST" class="features-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">OK</button>
	</form>
	<div class="features-inf">
		<p>attachment: scroll | fixed # Фиксированность фона</p>
		<p>page-height: vh # Высота страницы</p>
		<p>background: path | color # Фон</p>
		<p>effects: darken | blur | darken blur | none # Свойства, которые применятются к фону</p>
		<br>
		<p>logo: path # Логотип</p>
		<p>logo-position: top left | completely-centered # расположение логотипа на странице</p>
		<p>logo-width: # Ширани логотипа, будет находится автоматически</p>
		<p>logo-height: # Ввысота логотипа, будет находиться автоматически</p>
		<br>
		<p>font-family: str # Шрифт</p>
		<p>header-size: px # Размер загаловков</p>
		<p>header-color: color # Цвет загаловков</p>
		<p>font-size: px # размер основного текста</p>
		<p>font-color: color # размер основного текста</p>
		<p>main-text-size: px # Размер галвных загаловков, как: название кампании, О нас</p>
		<p>main-text-color: color # Цвет главных загаловков</p>
		<br>
		<p>inf-block-width: % # Ширина блока с информацией</p>
		<p>inf-block-align: center | right | left # Положение блока на странице</p>
		<p>inf-block-v-align: center | to-top | to-bottom # Вертикальное положение блока на странице</p>
		<br>
		<p>columns: int | none # Количество столбцов</p>
		<p>fl-bl-text-align: center | right | left # Выравнивание текста в блоках</p>
		<p>fl-bl-header-align: center | right | left # Выравнивание загаловков в блоках</p>
		<p>fl-image-position: top | left | right # Позиция картинок рядом с блоками</p>
		<p>fl-block-background: color | image | none # Фон блоков</p>
		<p>fl-single-image: none | image # Рисунок, который идет перед группой блоков</p>
		<p>fl-single-image-position: top | bottom # Позиция данного рисунка</p>
		<p>fl-image-form: square | round # Форма изображений</p>
	</div>
{% endblock %}