{% extends 'main/base.html' %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
	<div class="content">
		<form method="POST" action="{% url 'input_content' params_pk=params_pk %}" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ error }}
					</div>
				{% endfor %}
				{% if 'name' in field.html_name %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}">
							{{ field.label }}
						</label>
						<input id="{{ field.id_for_label }}" maxlength="{{ field.field.maxlength }}" name="{{ field.html_name }}" type="text" value="{{ field.value }}" required>
					</div>
				{% elif 'header' in field.html_name %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}">
							{{ field.label }}
						</label>
						<input id="{{ field.id_for_label }}" maxlength="{{ field.field.maxlength }}" name="{{ field.html_name }}" type="text" value="{{ field.value }}">
					</div>
				{% elif 'slogan' in field.html_name %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}">
							{{ field.label }}
						</label>
						<textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" rows="3" required>{{ field.value }}</textarea>
					</div>
				{% elif 'text' in field.html_name %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}">
							{{ field.label }}
						</label>
						<textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" rows="5">{{ field.value }}</textarea>
					</div>
				{% elif 'logo' in field.html_name %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}">
							{{ field.label }}
						</label>
						<input type="file" class="form-control-file" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
					</div>
				{% endif %}
			{% endfor %}
			<button type="submit" class="btn btn-success">OK</button>
		</form>
	</div>
{% endblock %}