{% extends 'main/base.html' %}
{% load filters %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static css %}">
{% endblock %}

{% block content %}
	<!-- <a onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="page.html">Download</a> -->
	<div class="content">
		<!-- Главная страница -->
		<section class="main">

			{% if content.logo %}
				<div class="logo">
					<img src="{{ content.logo.url }}">
				</div>
			{% endif %}

			<div class="inf_block_wrapper main_inf_block">
				<header>
					<h2> {{ content.name }} </h2>

					{% if content.slogan %}
						{{ content.slogan|linebreaks }}
					{% endif %}

					{% if features|page:'main'|attr:'type' == types.ColorImage %}
						<img src="{{ features|page:'main'|attr:'image' }}">
					{% endif %}
				</header>
			</div>
		</section>

		<!-- Страницы -->
		{% for page in pages %}
			<section class="{{ page }}">

				{% with type=features|page:page|attr:'type' image=features|page:page|attr:'image' header=content|page:page|attr:'header' text=content|page:page|attr:'text' %}

					{% if type == types.Image or type == types.Color %}
						{% include  'main/page_usual.html' with header=header text=text page=page %}
					{% elif type == types.ColorImage %}
						{% include 'main/page_colorimage.html' with header=header text=text image=image page=page %}
					{% elif type == types.SepHeader %}
						{% include 'main/page_sepheader.html' with header=header text=text page=page %}
					{% endif %}

				{% endwith %}

			</section>
		{% endfor %}
	</div>
{% endblock %}