{% extends 'main/base.html' %}
{% load filters %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static css %}">
{% endblock %}

{% block content %}
	<!-- <a onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="page.html">Download</a> -->
	<div class="content">
		<!-- Главная страница -->
		<section class="main">

			{% if content.logo %}
				<div class="logo">
					<img src="{{ content.logo.url }}">
				</div>
			{% endif %}

			<div class="inf_block_wrapper main_inf_block">
				<header>
					<h2> {{ content.name }} </h2>

					{% if content.slogan %}
						{{ content.slogan|linebreaks }}
					{% endif %}

					{% if features.main.pattern_type == types.ColorImage %}
						<img src="{{ features.main.image }}" class="single">
					{% endif %}
				</header>
			</div>
		</section>

		<!-- Страницы -->
		{% for page in pages %}
			<section class="{{ page }}">

				{% with page_features=features|get:page header=content|page:page|attr:'header' text=content|page:page|attr:'text' %}

					{% with pattern_type=page_features.pattern_type image=page_features.image %}

						{% if pattern_type == types.Image or pattern_type == types.Color %}
							{% include  'main/page_usual.html' with header=header text=text page=page %}
						{% elif pattern_type == types.ColorImage %}
							{% include 'main/page_colorimage.html' with header=header text=text image=image page=page %}
						{% elif pattern_type == types.SepHeader %}
							{% include 'main/page_sepheader.html' with header=header text=text page=page %}
						{% endif %}

					{% endwith %}

				{% endwith %}

			</section>
		{% endfor %}
	</div>
{% endblock %}