{% extends 'main/base.html' %}
<!-- Надо исправить все фильтры фттр. ОНИ УЖАСНЫ!!! -->
{% load filters %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static css %}">
{% endblock %}

{% block content %}
	<div class="content">
		<!-- There are pages -->
		<section class="main">

			{% if content.logo %}
				<div class="logo">
					<img src="{{ content.logo.url }}">
				</div>
			{% endif %}

			<div class="inf_block_wrapper main_inf_block">
				<header>
					<h1> {{ content.name }} </h1>

					{% if content.slogan %}
						{{ content.slogan|linebreaks }}
					{% endif %}

					{% if 'main'|add:'_image'|attr:features %}
						<img src="{{ features|attr:'main'|add:'_image' }}">
					{% endif %}
				</header>
			</div>
		</section>

		{% for page in pages %}
			<section class="{{ page }}">

				{% with type=page|add:'_type'|attr:features image=page|add:'_image'|attr:features header=page|add:'_header'|attr:content text=page|add:'_text'|attr:content %}

					<!-- Надо исправить здесь -->
					
					{% if type == 1 or type == 2 or type == 3 %}
						{% include  'main/page_usual.html' with header=header text=text image=image page=page %}
					{% elif type == 4 %}
						{% include 'main/page_sepheader.html' with header=header text=text page=page %}
					{% endif %}

				{% endwith %}

			</section>
		{% endfor %}
	</div>
{% endblock %}