{% extends 'main/base.html' %}

{% load filters %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static css %}">
{% endblock %}

{% block content %}
	<div class="content">
		<!-- There are pages -->

		<div class="main">
			<div class="inf-block-wrapper">

				{% if content.logo %}
					<div class="logo">
						<img src="{{ content.logo.url }}">
					</div>
				{% endif %}

				<header>
					<h1> {{ content.name }} </h1>

					{% if content.slogan %}
						{{ content.slogan|linebreaks }}
					{% endif %}
				</header>

			</div>
		</div>

		{% if content.about_us %}
			<div class="inf-block-wrapper">
				<div class="about-us">
					<!-- Title -->
					{{ content.about_us|linebreaks }}
				</div>
			</div>
		{% endif %}

		{% if content.about_good %}
			<div class="about-good">
				<div class="inf-block-wrapper">
					<!-- Title -->
					{{ content.about_good|linebreaks }}
				</div>
			</div>
		{% endif %}

		{% if content.contacts %}
			<div class="contacts">
					<div class="inf-block-wrapper">
					<!-- Title -->
					{{ content.contacts }}
					</div>
			</div>
		{% endif %}

	</div>
{% endblock %}