{% extends 'main/base.html' %}

{% load filters %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static css %}">
{% endblock %}

{% block content %}
	<div class="content">
		<!-- There are pages -->

		<section class="main">

			{% if content.logo %}
				<div class="logo">
					<img src="{{ content.logo.url }}">
				</div>
			{% endif %}

			<div class="inf_block_wrapper main_inf_block">
				<header>
					<h1> {{ content.name }} </h1>

					{% if content.slogan %}
						{{ content.slogan|linebreaks }}
					{% endif %}
				</header>
			</div>
		</section>

		<!-- { if content.about_good_header } -->
			<section class="about_good">
				<div class="inf_block_wrapper about_good_inf_block">
					<!-- Title -->
					<header>
						<h1> {{ content.about_good_header }} </h1>
					</header>
					{{ content.about_good_text|linebreaks }}
				</div>
			</section>
		<!-- { endif } -->

			<section class="about_us">
				<div class="inf_block_wrapper about_us_inf_block">
					<!-- Title -->
					<header>
						<h1> {{ content.about_us_header }} </h1>
					</header>
					{{ content.about_us_text|linebreaks }}
				</div>
			</section>

			<section class="contacts">
				<div class="inf_block_wrapper contacts_inf_block">
					<!-- Title -->
					<header>
						<h1> {{ content.contacts_header }} </h1>
					</header>
					<p>{{ content.contacts_text }}</p>
				</div>
			</section>

	</div>
{% endblock %}